doctype html
html
  head
    title Tools of the Trade | CodeKit
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="./css/styles.css")
  body
    ul(class="nav nav-tabs")
      li(role="presentation")
        a(href="./") Home
      li(role="presentation")
        a(href="./page2.html") Page 2
      li(role="presentation")
        a(href="./page3.html", class="active") Page 3
    h1 This is Page 3
